This notebook attempts to see which data gaps are present in the timestamp gaps but not in the message gaps.

- iterate over timestamp gaps
- see if they fall near or within message gaps by printing nearest message gap

In [1]:
%load_ext autoreload
%autoreload 2

import pandas as pd
import numpy as np
import WP19_analysis as wpa


data = {}
for rdf in wpa.raw_file_data:
    energy_data = wpa.load_timeseries_file(rdf['village_name'] + '-clean.csv')
    messages = wpa.load_message_file(rdf['village_name'] + '-messages.csv')
    total_duration = wpa.get_total_duration(energy_data)
    data[rdf['village_name']] = {'total_duration':total_duration,
                                 'ts num gaps':wpa.num_gaps_timestamp(energy_data),
                                 'ts down hours':wpa.get_downtime_timestamps(energy_data)/3600,
                                'mess num gaps':wpa.num_gaps_messages(messages), 
                                'mess down hours':wpa.get_durations_messages(messages).sum()[0]}

data_table = pd.DataFrame(data).T
data_table['ts up hrs'] = data_table['total_duration'] - data_table['ts down hours']
data_table['mess up hrs'] = data_table['total_duration'] - data_table['mess down hours']
data_table

,mess down hours,mess num gaps,total_duration,ts down hours,ts num gaps,ts up hrs,mess up hrs
ajau,102.056111,112.0,3083.533333,134.866667,778.0,2948.666667,2981.477222
asei,101.501389,119.0,1888.533333,163.216667,215.0,1725.316667,1787.031944
atamali,2003.236389,98.0,2977.566667,2414.533333,233.0,563.033333,974.330278
ayapo,2055.485278,243.0,3058.383333,2351.683333,262.0,706.700000,1002.898056
kensio,2053.530833,48.0,2452.666667,2234.316667,46.0,218.350000,399.135833

In [2]:
# place all events into a single data frame

filename = 'ayapo'
energy_data = wpa.load_timeseries_file(filename + '-clean.csv')
messages = wpa.load_message_file(filename + '-messages.csv')

def wpa_get_gaps_timestamp(energy_data):
    differences = np.diff(energy_data.index.values)
    gaps = pd.Series(index=energy_data.index[:-1], data=differences)
    gaps = gaps[gaps > np.timedelta64(1,'m')]
    return gaps

ts_gaps = pd.DataFrame(wpa_get_gaps_timestamp(energy_data), columns=['duration'])
ts_gaps['type'] = 'ts'

ms_gaps = pd.DataFrame(wpa.get_gaps_messages(messages))
ms_gaps['duration'] = ms_gaps['date']
ms_gaps['type'] = 'ms'
del(ms_gaps['date'])

all_gaps = ts_gaps.append(ms_gaps).sort_index()
all_gaps[all_gaps['duration']>np.timedelta64(60,'m')]
# now you can filter by duration and group by type to see the differences

                           duration type
2015-04-22 11:54:00 0 days 02:01:00   ts
2015-04-22 14:03:00 0 days 03:49:00   ts
2015-04-22 14:03:50 0 days 03:47:50   ms
2015-04-23 00:36:00 0 days 19:33:00   ts
2015-04-23 00:36:16 0 days 18:43:26   ms
2015-04-23 20:33:00 0 days 17:32:00   ts
2015-04-24 01:27:58 0 days 12:33:07   ms
2015-04-24 14:09:00 0 days 03:37:00   ts
2015-04-24 14:09:45 0 days 03:36:08   ms
2015-04-25 00:47:00 0 days 17:26:00   ts
2015-04-25 00:47:20 0 days 17:25:08   ms
2015-04-26 01:10:00 0 days 16:45:00   ts
2015-04-26 01:10:57 0 days 16:43:14   ms
2015-04-27 00:35:00 0 days 17:27:00   ts
2015-04-27 00:35:46 0 days 17:25:22   ms
2015-04-28 00:55:00 0 days 16:57:00   ts
2015-04-28 00:55:17 0 days 16:56:01   ms
2015-04-29 00:06:00 0 days 19:27:00   ts
2015-04-29 00:06:08 0 days 19:26:38   ms
2015-04-30 00:54:00 0 days 16:57:00   ts
2015-04-30 00:54:31 0 days 16:55:46   ms
2015-05-01 00:51:00 3 days 15:50:00   ts
2015-05-01 00:51:30 3 days 15:42:45   ms
2015-05-04 16:41:00 1 days 04:40:00   ts
2015-05-04 16:42:36 1 days 04:38:15   ms
2015-05-06 01:20:00 0 days 16:27:00   ts
2015-05-06 01:20:36 0 days 16:26:11   ms
2015-05-07 00:56:00 0 days 16:56:00   ts
2015-05-07 00:56:25 0 days 16:55:23   ms
2015-05-07 23:39:00 0 days 16:43:00   ts
...                             ...  ...
2015-08-12 01:28:00 0 days 16:15:00   ts
2015-08-12 01:28:33 0 days 16:13:32   ms
2015-08-13 00:18:00 0 days 17:38:00   ts
2015-08-13 00:18:20 0 days 17:34:17   ms
2015-08-14 00:55:00 0 days 17:05:00   ts
2015-08-14 00:55:52 0 days 17:03:30   ms
2015-08-15 01:44:00 0 days 16:30:00   ts
2015-08-15 01:44:10 0 days 16:28:49   ms
2015-08-16 00:44:00 0 days 17:14:00   ts
2015-08-16 00:44:41 0 days 17:12:49   ms
2015-08-17 01:13:00 0 days 16:50:00   ts
2015-08-17 01:13:12 0 days 16:48:53   ms
2015-08-18 00:30:00 0 days 17:54:00   ts
2015-08-18 00:30:04 0 days 17:53:02   ms
2015-08-19 00:33:00 0 days 17:39:00   ts
2015-08-19 00:33:06 0 days 17:38:34   ms
2015-08-19 21:45:00 0 days 01:45:00   ts
2015-08-19 21:45:33 0 days 01:43:37   ms
2015-08-20 01:15:00 0 days 16:53:00   ts
2015-08-20 01:15:13 0 days 16:52:27   ms
2015-08-21 00:42:00 0 days 19:48:00   ts
2015-08-21 00:42:03 0 days 19:47:38   ms
2015-08-22 01:10:00 0 days 16:53:00   ts
2015-08-22 01:10:22 0 days 16:51:54   ms
2015-08-22 22:14:00 2 days 19:51:00   ts
2015-08-22 22:14:11 2 days 19:50:31   ms
2015-08-26 00:42:00 0 days 17:42:00   ts
2015-08-26 00:42:16 0 days 17:40:59   ms
2015-08-27 00:58:00 0 days 17:01:00   ts
2015-08-27 00:58:12 0 days 16:59:53   ms

[224 rows x 2 columns]